body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}


/*    ////////////////////////////////////////         */
.section-one{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.top , .bottom{
    display: flex;
    justify-content: space-between;
   
    padding: 48px;
    margin-left: 100px;
    margin-right: 100px;
}

.top{
    margin-top: 0px;
    
}
.bottom{
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 50px;
}
.section-one .top .links{
    list-style-type: none;
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    gap: 20px;
    margin: 0;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.section-one .bottom .hero{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    
}

.section-one .bottom .hero-bottom{
    font-size: 18px;
    color: #E5E7EB;
}

.section-one .header{
    font-size: 24px;
    color: #f9faf8;
}

.section-one .bottom .right{
    /*background-color: gray;*/
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.left{
    width: 400px;
}

img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.section-one .bottom .left .sign-up{
    background-color: #3882f6;
    color: white;
    font-size: large;
    border-radius: 10px;
    padding: 10px 40px;
    /*border-style: none;*/
    font-weight: bold;
}

/*    ////////////////////////////////////////         */

.section-two{
    
    text-align: center;
    padding-bottom: 100px;
}

.section-two .header{
    padding: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight:bolder;
}

.section-two .list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
    flex-wrap: wrap;
    
}

.section-two .empty-box{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    
}

.section-two .under
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}



/*    ////////////////////////////////////////         */
.section-three{
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;

}
.section-three .quote{
    color: #667891;
    font-size: 36px;
    font-style: italic;
}

.section-three .person{
    color: #1F2937;
    font-size: large;
    font-weight: bolder;
    
    text-align: end;
    margin-right: 50px;
}


/*    ////////////////////////////////////////         */

.section-four{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #4388f7;
    margin: 100px 200px;
    border-radius: 10px;
}

.section-four .left{
    display: flex;
    flex-direction: column;
    
}

.section-four .left .header{
    font-size: 25px;
    color: white;
    font-weight: bold
}

.section-four .left .under{
    color: white;
}


.section-four .right .sign-up{
    background-color: #4388f7;
    color: white;
    font-size: large;
    border-radius: 10px;
    border-color: white;
    border: 2px solid;
    padding: 10px 40px;
    font-weight: bold;
}

.section-four .left , .right{
    margin-left: 70px;
    margin-right: 70px;
}
.section-four .left{
    width: auto; /*ino bardar bebin chi mishe*/
}


/*    ////////////////////////////////////////         */
.section-five{
    background-color:  black;
    color: white;
    text-align: center;
    padding: 30px;
}